footer {
    position: absolute;
    bottom: 0;
    background: #000;
    height: 60px;
    width: 100%;
}

html{
    height:100%;
}

body{
    background-color: black;
    background-image: url('../images/bg.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}

.container{
    margin-left:auto;
    margin-right:auto;
}

text-muted{
    color:white;
}

nav{
    background-color:rgba(253, 253, 253, 0.658);
    
}
a{
    color:white;
}

main{
    max-width:50%;
}

#form,h1,tr,th{
    background-color:rgba(109, 218, 245, 0.521);
    color:white;
    padding:10px;

}