{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
    .form-check-label {
        color: black;
    }
</style>
{% with messages = get_flashed_messages()%}
    {% if messages %}
        
    <p>{{msg}}</p>
        
    {%endif%}
{% endwith %}
<div class="container">
    <form method="post">
        <label class="form-check-label" for="professorname">
            Name
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="text" name="professorName" required> 
        </div>
        
        <label class="form-check-label" for="schoolname">
            School
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="text" name="schoolName" required>
        </div>
    
        <label class="form-check-label" for="departmentname">
            Department
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="text" name="departmentName">
        </div>

        <label class="form-check-label" for="classid">
            Class
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="text" name="classId" required>
        </div>

        <label class="form-check-label" for="sectionname">
            Section
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="text" name="sectionName" required>
        </div>

        <div class="col-sm4">
            <a href="{{ url_for('instructorDashboard')}}">
                <button class="btn btn-primary" type="submit" name="submitButton" value="dashboardSubmit">Finish and Generate Class Code</button>
            </a>
        </div>
        
        
    </form>
</div>

{% endblock %}
