<div class="container" id="feedback-form">

    <form class="needs-validation"  action="{{ url_for('student')}}" method="post">
        <!-- Mood section -->

        <div class="container">
            <div class="row justify-content-center" id="face_row">
                <!-- Excited -->
                <div class="col-2 feedmoji">
                    <div class="form-check justify-content-center">
                        <input class="form-check-input" type="radio" name="emoji" id="excited" value="5" required>
                        <label class="form-check-label" for="excited">
                            Excited
                            <p id="emoji">&#128512;</p>
                        </label>
                    </div>
                </div>
                <div class="col-2 feedmoji">
                    <!-- Normal -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="emoji" id="normal" value="4" required>
                        <label class="form-check-label" for="normal">
                            Normal
                            <p id="emoji">&#128528;</p>
                        </label>
                    </div>
                </div>
                <div class="col-2 feedmoji">
                    <!-- unclear -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="emoji" id="unclear" value="3" required>
                        <label class="form-check-label" for="unclear">
                            Unclear
                            <p id="emoji">&#128530;</p>
                        </label>
                    </div>
                </div>
                <div class="col-2 feedmoji">
                    <!-- Nervous -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="emoji" id="nervous" value="2" required>
                        <label class="form-check-label" for="nervous">
                            Nervous
                            <p id="emoji">&#128533;</p>
                        </label>
                    </div>
                </div>
                <div class="col-2 feedmoji">
                    <!-- Mad -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="emoji" id="mad" value="1" required>
                        <label class="form-check-label" for="mad">
                            Mad
                            <p id="emoji">&#128545;</p>
                        </label>
                    </div>
                </div>
            </div>
    
            <div class="row justify-content-center">
                <!-- Finger emoji -->
                <div class="col-sm-6">
                    <input class="form-check-input" name="elaborateNumber" type="radio" id="professor"
                        value="Instructor/Professor" required>
                        
                    <label class="form-check-label" for="professor">
                        <span id="emojiaction">&#128073;</span>
                        <input type="text" placeholder="Instructor/Professor" name="elaborateText" class="form-control" id="emojifield" required>
                    </label>
                </div>
    
            </div>

            <div class="row justify-content-center">
                <!-- Finger emoji -->
                <div class="col-sm-6">
                    <input class="form-check-input" name="elaborateNumber" type="radio" id="teaching"
                    value="Teaching style" required>
                <label class="form-check-label" for="teaching">
                    <span id="emojiaction">&#128073;</span>
                        <input type="text" placeholder="Teaching style" name="elaborateText" class="form-control" id="emojifield" required>
                </label>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Finger emoji -->
                <div class="col-sm-6">
                    <input class="form-check-input" name="elaborateNumber" type="radio" id="topic" value="Topic"
                    required>
                <label class="form-check-label" for="topic">
                    <span id="emojiaction">&#128073;</span>
                    <input type="text" placeholder="Topic" name="elaborateText" class="form-control" id="emojifield" required>
                </label>
                </div>
            </div>

            <div class="row justify-content-center form-group">
                <!-- Finger emoji -->
                <div class="col-sm-6">
                    <input class="form-check-input block" name="elaborateNumber" type="radio" id="other" value="Other"
                    required>
                <label class="form-check-label" for="other">
                    <span id="emojiaction">&#128073;</span>
                    <input type="text" placeholder="Other" name="elaborateText" class="form-control" id="emojifield" required>
                </label>
                </div>
                
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-3">
                    <!-- Submit button -->
                    <div class="form-group">
                        <div>
                            <button type="submit" class="button btn btn-primary btn-block" id="feedback_button">Leave feedback</button>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>

    </form>

</div>