
<div class="container justify-content-md-center" id="feedback-form">

    <form class="needs-validation" action="{{ url_for('student')}}" method="post">

        <!-- Mood section -->
        <div class="form-group">
            <legend>
                <h4>Mood:</h4>
            </legend>

            <!-- Excited -->
            <div class="form-check-inline container flex">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="emoji" id="excited" value="5" required>
                    <label class="form-check-label" for="excited">
                        Excited
                        <p id="emoji">&#128512;</p>
                    </label>
                </div>

            <!-- Normal  -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="emoji" id="normal" value="4" required>
                <label class="form-check-label" for="normal">
                    Normal
                    <p id="emoji">&#128528;</p>
                </label>
                
            </div>

            <!-- Unclear topic concept -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="emoji" id="unclear" value="3" required>
                <label class="form-check-label" for="unclear">
                    Unclear
                    <p id="emoji">&#128530;</p>
                </label>
                </div>

                <!-- Nervous -->
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="emoji" id="nervous" value="2" required>
                    <label class="form-check-label" for="nervous">
                        Nervous
                        <p id="emoji">&#128533;</p>
                    </label>
                </div>

                <!-- Mad -->
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="emoji" id="mad" value="1" required>
                    <label class="form-check-label" for="mad">
                        Mad
                        <p id="emoji">&#128545;</p>
                    </label>
                </div>
            </div>
        </div>


        <!-- Elaborte part -->
        <div class="form-group">
                <h4>Elaborate your thoughts:</h4>
            <div>

                <!-- Instructor/Professor -->
                <div class="form-check">
                    <input class="form-check-input" name="elaborateNumber" type="radio" id="professor"
                        value="Instructor/Professor" required>
                    <label class="form-check-label" for="professor">
                        <span id="emojiaction">&#128073;</span>Instructor/Professor
                    </label>
                    <div>
                        <input type="text" name="elaborateText" class="form-control" id="text">
                    </div>
                </div>

                <!-- Teaching style -->
                <div class="form-check">
                    <input class="form-check-input" name="elaborateNumber" type="radio" id="teaching"
                        value="Teaching style" required>
                    <label class="form-check-label" for="teaching">
                        <span id="emojiaction">&#128073;</span>Teaching style
                    </label>
                    <div>
                        <input type="text" name="elaborateText" class="form-control" id="text">
                    </div>
                </div>

                <!-- Topic -->
                <div class="form-check">
                    <input class="form-check-input" name="elaborateNumber" type="radio" id="topic" value="Topic" required>
                    <label class="form-check-label" for="topic">
                        <span id="emojiaction">&#128073;</span>Topic
                    </label>
                    <div>
                        <input type="text" name="elaborateText" class="form-control" id="text">
                    </div>
                </div>

                <!-- Other -->
                <div class="form-check">
                    <input class="form-check-input" name="elaborateNumber" type="radio" id="other" value="Other" required>
                    <label class="form-check-label" for="other">
                        <span id="emojiaction">&#128073;</span>Other
                    </label>
                    <div>
                        <input type="text" name="elaborateText" class="form-control" id="text">
                    </div>
                </div>

            </div>
        </div>

        <!-- Submit button -->
        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-primary btn-block">Leave feedback</button>
            </div>
        </div>
    </form>
</div>