<div class="form-container container">
    <div class="form">
        <h1>Fill out the information below to get started.</h1>
        <form action="{{url_for('newstudent')}}" method="post" >
            
            <div class="form-group">
                <label class="form-check-label" for="teachingstyle">
                    Class Code
                </label>
                <input type="text" class="form-control" id="text" name="classCode" placeholder="Enter class code" required>
            </div>

            <div class="form-group">
                <label class="form-check-label" for="teachingstyle">
                    Student code
                </label>
                <input type="text" id="number" value="" class="form-control" name="studentCode" placeholder="enter student code" required>
            </div>
            <!-- No need to put within a tag since the button is within the form -->
                <button class="button" type="submit" name="submitButton" value="student">Login</button>
                <a href="{{ url_for('studentRegistration') }}">
                    <h6>Or signup</h6>
                </a>
        </form>
    </div>
</div>