{% extends "base.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}
<!-- Analytics stats -->
<style>
  p{
        font-family: sans-serif;
        font-size: 20px;
        text-align: center;  
  }
  img{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  object{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .column{
      float: left;
      width: 33%;
      padding: 5px;
  }
  table, th, td{
        border: 1px solid black;
  }
  .row::after {
  content: "";
  clear: both;
  display: table;
  }
</style>

<div class="container">
    <body>
        <img src={{url_for('drawbar', classCode=request.args.get('ccode'), Category=request.args.get('category') )}} alt="Image Placeholder" width="40%">  
        <object src={{ url_for('calc', classCode= request.args.get('ccode'), Category = request.args.get('category') )}}></object>
        <div class="row">
            <div class="column">
                <img src={{url_for('drawtimeweek', classCode=request.args.get('ccode'), Category=request.args.get('category') )}} alt="Image Placeholder" style="width:100%">
            </div>
            <div class="column">
                <img src={{url_for('drawtimeyest', classCode=request.args.get('ccode'), Category=request.args.get('category') )}} alt="Image Placeholder" style="width:100%">
            </div>
            <div class="column">
                <img src={{url_for('drawtimetoday', classCode=request.args.get('ccode'), Category=request.args.get('category') )}} alt="Image Placeholder" style="width:100%">
            </div>
        </div>
          
          <div style="text-align: center; font-size: 15px; font-family: sans-serif;">
              <a href="/professor">Back to Class Selection</a>
          </div>
          <br>
          <p>Data Table</p>
          <table style="width:100%;">   
              <tr>
                  <th>id</th>
                  <th>date</th>
                  <th>time</th>
                  <th>class code</th>
                  <th>student code</th>
                  <th>emoji</th>
                  <th>category</th>
                  <th>response</th>
              </tr>
                {% for row in data.index %}
                    <tr>
                        <td>{{data.at[row,'id']}}</td>
                        <td>{{data.at[row,'date']}}</td>
                        <td>{{data.at[row,'time']}}</td>
                        <td>{{data.at[row,'classCode']}}</td>
                        <td>{{data.at[row,'studentCode']}}</td>
                        <td>{{data.at[row,'emoji']}}</td>
                        <td>{{data.at[row,'elaborateNumber']}}</td>
                        <td>{{data.at[row,'elaborateText']}}</td>
                    </tr>
                {% endfor %}
          </table> 
          <br>
</body>
</div>

{% endblock %}