<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Our own css for everything -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}">
    <!-- Our own css for forms: student login, professor login, etc. -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/forms.css') }}">
    <!-- Footer styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/footer.css') }}">
    <!-- Emoji styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/mood.css') }}">
    <!-- Fonts styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/fonts.css') }}">
    <!-- Body styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/body.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>
    <div class="container">
        <header class="container col-md-12">

            <nav class="navbar navbar-expand-lg mr-auto bg-dark">
                <a class="navbar-brand" href="/"><p id="emoji">&#127891;</p></i></a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    {% if session['logged_in']%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout')}}">Logout</a>
                    </li>
                    <h2>Hello {{ session['username']}}</h2>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index')}}">Home</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main>
            {% include 'flash_messages.html'%}
            {% block content %}{% endblock %}
        </main>


    </div>
    <!-- Footer -->
    <footer class="bg-light">
        <div class="container">
            <span class="text-muted">&copy; Copyright 2021 Student Feedback</span>
            <!-- Add a bunch of emojis -->
            <span id="emoji">&#9749;</span>

        </div>
    </footer>
</body>

</html>