{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<!-- Content for homepage -->
  <div class="d-md">
    <div class="container">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">For Educators</h2>
          <p class="lead"><a type="button" href="{{ url_for('instructor')}}" class="btn btn-light">check statistic</a></p>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">For students</h2>
          <p class="lead"><a type="button" href="{{ url_for('student')}}" class="btn btn-dark">leave feedback</a></p>
        </div>
      </div>
    </div>
    

  </div>

{% endblock %}