{% extends "base.html" %}
{% block title %}Not enough dta{% endblock %}

{% block content %}

<!-- Not enough data -->
<div class="container-fluid">
    <h1>There is not sufficient data</h1>
</div>

  <br>
  <p>Data Table</p>
  <table style="width:100%;">   
    <tr>
      <th>id</th>
      <th>date</th>
      <th>time</th>
      <th>class code</th>
      <th>student code</th>
      <th>emoji</th>
      <th>category</th>
      <th>response</th>
    </tr>
    {% for item in data %}
      <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
        <td>{{item[7]}}</td>
      </tr>
    {% endfor %}
  </table> 
  <br>
{% endblock %}