{% extends "base.html" %}
{% block title %}Not enough dta{% endblock %}

{% block content %}
<style>
p{
        font-family: sans-serif;
        font-size: 30px;
        text-align: center;  
}
table, th, td{
        border: 1px solid black;
}
</style>
<!-- Not enough data -->
<div class="container-fluid">
    <h1>There is not sufficient data</h1>
</div>

  <br>
  <p>Data Table</p>
  <table style="width:100%;">   
    <tr>
      <th>id</th>
      <th>date</th>
      <th>time</th>
      <th>class code</th>
      <th>student code</th>
      <th>emoji</th>
      <th>category</th>
      <th>response</th>
    </tr>
    {% for row in data.index %}
      <tr>
        <td>{{data.at[row,'id']}}</td>
        <td>{{data.at[row,'date']}}</td>
        <td>{{data.at[row,'time']}}</td>
        <td>{{data.at[row,'classCode']}}</td>
        <td>{{data.at[row,'studentCode']}}</td>
        <td>{{data.at[row,'emoji']}}</td>
        <td>{{data.at[row,'elaborateNumber']}}</td>
        <td>{{data.at[row,'elaborateText']}}</td>
      </tr>
    {% endfor %}
  </table> 
  <br>
{% endblock %}