
{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<!-- Content for professor page -->
<div class="container">
    <form action="/professor/create" method="post">
        <label class="form-check-label" for="professorname">
            Name
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="text" name="professorName">
        </div>
        
        <label class="form-check-label" for="schoolname">
            School
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="text" name="schoolName">
        </div>
    
        <label class="form-check-label" for="departmentname">
            Department
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="text" name="departmentName">
        </div>

        <label class="form-check-label" for="classid">
            Class
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="text" name="classId">
        </div>

        <label class="form-check-label" for="sectionname">
            Section
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="text" name="sectionName">
        </div>

        <input type="submit" value="Finish and Generate Class Code">
        
    </form>
</div>


{% endblock %}
